/* General Styles */
@font-face {
  font-family: "DeskScratch";
  src: url("/assets/fonts/DeskScratch.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "DeskScratch";
  -webkit-text-stroke: 0.005rem rgba(200, 200, 200, 0.9);
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
}

/* Styles for h1 */
h1 {
  font-family: "DeskScratch";
  font-size: 2rem; /* Adjust the size as needed */
  font-weight: normal; /* Ensure consistent font weight */
  color: black; /* Explicitly set text color */
  -webkit-text-stroke: 0.005rem rgba(200, 200, 200, 0.9); /* Reduced stroke width */
}

#landing-page {
  margin-top: 100px;
}

#join-button {
  font-family: "DeskScratch";
  font-size: 1.5rem;
  -webkit-text-stroke: 0.005rem rgba(200, 200, 200, 0.9);
  padding: 0.5rem 0.5rem;
  background-color: rgba(15, 15, 15, 0);
  border: none;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  color: black;
}

/* Add this block to make the Join Game button look pressed when clicked */
#join-button:active {
  transform: scale(0.98); /* Slightly reduce size to give pressed look */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* Create inset shadow for pressed effect */
  background-color: rgba(15, 15, 15, 0.3); /* Slightly darker background on press */
}

/* Styles when the button is pressed */
#join-button.pressed {
  transform: scale(0.98);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(15, 15, 15, 0.3);
}

#status {
  margin-top: 20px;
  font-family: "DeskScratch";
  font-size: 1.5rem;
  -webkit-text-stroke: 0.005rem rgba(200, 200, 200, 0.9);
  padding: 0.5rem 0.5rem;
  background-color: rgba(15, 15, 15, 0);
}

/* Updated Passcode Input Field Styles */
#passcode-input {
  font-family: "DeskScratch";
  font-size: 3rem;
  color: rgba(15, 15, 15, 0.9);
  background-color: transparent; /* Make background transparent */
  border: none; /* Remove border */
  margin: 1rem 0;
  width: 80vw;
  text-align: center;
  outline: none;
  transition: border-bottom 0.2s;
}

#passcode-input::placeholder {
  color: rgba(15, 15, 15, 0.7);
  font-style: italic;
}

#passcode-input:disabled {
  color: #666;
}

/* Rules Button on Landing Page */
#landingRulzButton {
  margin-top: 1rem;
  font-family: "DeskScratch";
  font-size: 4rem; /* Make this larger */
  padding: 1rem 2rem; /* Larger padding for a bigger button */
  background-color: rgba(15, 15, 15, 0);
  -webkit-text-stroke: 0.01rem rgba(200, 200, 200, 0.9); /* Slightly thicker stroke */
  border: none;
  border-radius: 1rem; /* Larger border radius */
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
}

/* Hover Effect for Landing Page Rules Button */
#landingRulzButton:hover {
  background-color: rgba(15, 15, 15, 0.3);
}

/* Body Container */
#bodyContainer {
  background-image: url("assets/desk.jpg");
  background-size: cover;
  background-position: center;
}

/* Game and Power Container */
#gameAndPowerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Game Container */
#gameContainer {
  position: relative;
  --aspect-ratio: 0.7071; /* A4 paper ratio */
  width: calc(var(--canvas-width-px)); /* Use canvas width */
  height: calc(var(--canvas-height-px)); /* Use canvas height */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  margin: 1rem;
  background-image: url("assets/paper.jpg");
  background-size: cover;
  background-position: center;
}

#drawCanvas {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  border: 1px solid #000;
  background-color: transparent; /* Ensure the background is transparent */
  cursor: crosshair;
}

/* Side Container */
#sideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--canvas-width-px) * 0.3); /* Adjust as needed */
  height: calc(var(--canvas-height-px)); /* Match canvas height */
}

/* Power Meter */
#powerMeterContainer {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: calc(var(--canvas-width-px) * 0.05); /* Adjust as needed */
  height: calc(var(--canvas-height-px) * 0.6); /* Adjust as needed */
  border: calc(var(--canvas-width-px) * 0.002) solid #000;
  margin-bottom: calc(var(--canvas-height-px) * 0.02);
  overflow: hidden;
}

#powerMeterFill,
#rewardZone,
#punishmentZone {
  width: 100%;
}

#powerMeterFill {
  position: absolute;
  bottom: 0;
  background-color: red;
  height: 0%;
  z-index: 1;
}

#rewardZone {
  position: absolute;
  bottom: 85%;
  height: 10%;
  background-color: rgba(0, 255, 0, 0.5);
  z-index: 2;
}

#punishmentZone {
  position: absolute;
  bottom: 95%;
  height: 5%;
  background-color: rgba(255, 0, 0, 0.5);
  z-index: 2;
}

/* Buttons within Game and Power Container */
#gameAndPowerContainer .button-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--canvas-height-px) * 0.01); /* Adjust as needed */
  margin-bottom: calc(var(--canvas-height-px) * 0.02); /* Adjust as needed */
}

#gameAndPowerContainer .button {
  font-family: "DeskScratch";
  font-size: calc(var(--canvas-width-px) * 0.015); /* Adjust as needed */
  -webkit-text-stroke: calc(var(--canvas-width-px) * 0.0005) rgba(200, 200, 200, 0.9);
  padding: calc(var(--canvas-width-px) * 0.005) calc(var(--canvas-width-px) * 0.005);
  background-color: rgba(15, 15, 15, 0);
  border: none;
  margin: calc(var(--canvas-width-px) * 0.005);
  border-radius: calc(var(--canvas-width-px) * 0.005);
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
  border-top-left-radius: calc(var(--canvas-width-px) * 0.255) calc(var(--canvas-width-px) * 0.015);
  border-top-right-radius: calc(var(--canvas-width-px) * 0.015) calc(var(--canvas-width-px) * 0.225);
  border-bottom-right-radius: calc(var(--canvas-width-px) * 0.225) calc(var(--canvas-width-px) * 0.015);
  border-bottom-left-radius: calc(var(--canvas-width-px) * 0.015) calc(var(--canvas-width-px) * 0.255);
  color: black;
}

#gameAndPowerContainer .button:hover {
  background-color: rgba(15, 15, 15, 0.2);
}

#gameAndPowerContainer .button:active {
  transform: scale(0.98); /* Slightly reduce size to give pressed look */
  box-shadow: inset 0 0 calc(var(--canvas-width-px) * 0.005) rgba(0, 0, 0, 0.5); /* Create inset shadow for pressed effect */
  background-color: rgba(15, 15, 15, 0.3); /* Slightly darker background on press */
}

#gameAndPowerContainer button.lined.thick {
  border: solid calc(var(--canvas-width-px) * 0.003) #41403e;
}

#gameAndPowerContainer button.dotted.thick {
  border: dotted calc(var(--canvas-width-px) * 0.003) #41403e;
}

#gameAndPowerContainer button.dashed.thick {
  border: dashed calc(var(--canvas-width-px) * 0.003) #41403e;
}

#gameAndPowerContainer button.lined.thin {
  border: solid calc(var(--canvas-width-px) * 0.002) #41403e;
}

#gameAndPowerContainer button.dotted.thin {
  border: dotted calc(var(--canvas-width-px) * 0.002) #41403e;
}

#gameAndPowerContainer button.dashed.thin {
  border: dashed calc(var(--canvas-width-px) * 0.002) #41403e;
}

/* Rules Button within Game and Power Container */
#gameAndPowerContainer .rulzButtonContainer {
  margin-top: calc(var(--canvas-height-px) * 0.01);
}

#gameAndPowerContainer .rulzButton {
  font-family: "DeskScratch";
  font-size: calc(var(--canvas-width-px) * 0.015);
  padding: calc(var(--canvas-width-px) * 0.005) calc(var(--canvas-width-px) * 0.01);
  background-color: rgba(15, 15, 15, 0);
  -webkit-text-stroke: calc(var(--canvas-width-px) * 0.0005) rgba(200, 200, 200, 0.9);
  border: none;
  border-radius: calc(var(--canvas-width-px) * 0.005);
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
}

#gameAndPowerContainer .rulzButton:hover {
  background-color: rgba(15, 15, 15, 0.3);
}

/* Timer */
#turnTimerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Timer {
  font-family: "DeskScratch", Arial, sans-serif;
  font-size: calc(var(--canvas-width-px) * 0.032); /* Adjust as needed */
  color: rgba(15, 15, 15, 0.9);
  text-align: center;
  margin-top: 0px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-image: url("assets/paper.jpg");
  font-family: "ReenieBeanie", cursive;
  background-size: cover;
  background-position: center;
  margin: 5% auto;
  padding: 20px;
  border: 2px solid #888;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  position: relative;
  animation: fadeIn 0.3s;
}

.modal-content h2 {
  font-size: 2.5rem; /* Adjust as needed */
}

.modal-content h3 {
  font-size: 2rem; /* Adjust as needed */
}

.modal-content p,
.modal-content li {
  font-size: 1.5rem; /* Adjust as needed */
  line-height: 1.6; /* Improves readability */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Ensure text in modal content is entirely black */
.modal-content h2,
.modal-content h3,
.modal-content p,
.modal-content li {
  -webkit-text-stroke: 0; /* Remove the text stroke */
  color: black; /* Set text color to black */
}

/* @media query for small screens */
@media (max-width: 768px) {
  /* Adjust font sizes within Game and Power Container */
  #gameAndPowerContainer h1 {
    font-size: calc(var(--canvas-width-px) * 0.015);
  }

  #gameAndPowerContainer .button {
    font-size: calc(var(--canvas-width-px) * 0.01);
  }

  #gameAndPowerContainer #Timer {
    font-size: calc(var(--canvas-width-px) * 0.02);
  }

  /* Reduce margins and padding within Game and Power Container */
  #gameAndPowerContainer #gameContainer {
    margin: calc(var(--canvas-width-px) * 0.005);
  }

  /* Adjust modal content size */
  .modal-content {
    width: 95%;
    padding: 10px;
  }
}
