/* General Styles */
@font-face {
  font-family: "DeskScratch";
  src: url("/assets/fonts/DeskScratch.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "DeskScratch";
  -webkit-text-stroke: 0.005rem rgba(200, 200, 200, 0.9);
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
}

/* Styles for h1 */
#landing-page h1 {
  font-family: "DeskScratch";
  margin-top: -2.5rem;
  font-size: 5rem;
  font-weight: normal;
  color: #1a0e05; /* Darker woody dark brown color */
  -webkit-text-stroke: 0.01rem rgba(200, 200, 200, 0.9);
  text-shadow: -2px -2px 0 rgba(30, 19, 11, 0.3), /* Darker shadow for depth */ 2px 2px 0 rgba(220, 200, 180, 0.5); /* Slightly muted highlight */
}

#landing-page {
  margin-top: 100px;
}

#join-button {
  font-family: "DeskScratch";
  font-size: 5rem;
  -webkit-text-stroke: 0.009rem rgba(200, 200, 200, 0.9);
  padding: 0.5rem 0.5rem;
  background-color: rgba(15, 15, 15, 0);
  border: none;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  color: #1a0e05;
  text-shadow: -2px -2px 0 rgba(26, 14, 5, 0.3), 2px 2px 0 rgba(220, 200, 180, 0.5);
}

/* Add bullets on hover for #join-button */
#join-button::before,
#join-button::after {
  content: "";
}

#join-button:hover::before {
  content: "• ";
}

#join-button:hover::after {
  content: " •";
}

/* Add this block to make the Join Game button look pressed when clicked */
#join-button:active {
  transform: scale(0.98);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(15, 15, 15, 0.3);
}

/* Styles when the button is pressed */
#join-button.pressed {
  transform: scale(0.98);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(15, 15, 15, 0.3);
}

#status {
  margin-top: 20px;
  font-family: "DeskScratch";
  font-size: 3rem;
  -webkit-text-stroke: 0.005rem rgba(200, 200, 200, 0.9);
  background-color: rgba(15, 15, 15, 0);
  color: #1a0e05;
  text-shadow: -2px -2px 0 rgba(26, 14, 5, 0.3), 2px 2px 0 rgba(220, 200, 180, 0.5);
}

/* Updated Passcode Input Field Styles */
#passcode-input {
  font-family: "DeskScratch";
  font-size: 5rem;
  color: rgba(15, 15, 15, 0.9); /* Keep original color */
  background-color: transparent;
  border: none;
  margin: 1rem 0;
  width: 80vw;
  text-align: center;
  outline: none;
  transition: border-bottom 0.2s;
  text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.3), 2px 2px 0 rgba(255, 255, 255, 0.5);
}

#passcode-input::placeholder {
  color: rgba(15, 15, 15, 0.7);
  font-style: italic;
}

#passcode-input:disabled {
  color: #666;
}

/* Rules Button on Landing Page */
#landingRulzButton {
  margin-top: 1rem;
  font-family: "DeskScratch";
  font-size: 6rem;
  padding: 1rem 2rem;
  background-color: rgba(15, 15, 15, 0);
  color: #1a0e05;
  -webkit-text-stroke: 0.01rem rgba(200, 200, 200, 0.9);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
  text-shadow: -2px -2px 0 rgba(26, 14, 5, 0.3), 2px 2px 0 rgba(220, 200, 180, 0.5);
}

/* Add bullets on hover for #landingRulzButton */
#landingRulzButton::before,
#landingRulzButton::after {
  content: "";
}

#landingRulzButton:hover::before {
  content: "• ";
}

#landingRulzButton:hover::after {
  content: " •";
}

/* Hover Effect for Landing Page Rules Button */
#landingRulzButton:hover {
  background-color: rgba(15, 15, 15, 0.3);
}

#join-button:hover {
  background-color: rgba(15, 15, 15, 0.3);
}

/* Body Container */
#bodyContainer {
  background-image: url("assets/desk.jpg");
  background-size: cover;
  background-position: center;
}

/* Game and Power Container */
#gameAndPowerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Game Container */
#gameContainer {
  position: relative;
  --aspect-ratio: 0.7071;
  width: calc(var(--canvas-width-px));
  height: calc(var(--canvas-height-px));
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  margin: 1rem;
  background-image: url("assets/paper.jpg");
  background-size: cover;
  background-position: center;
}

#drawCanvas {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  border: 1px solid #000;
  background-color: transparent;
  cursor: crosshair;
}

/* Side Container */
#sideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--canvas-width-px) * 0.2);
  height: calc(var(--canvas-height-px));
}

/* Power Meter */
#powerMeterContainer {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: calc(var(--canvas-width-px) * 0.075);
  height: calc(var(--canvas-height-px) * 0.75);
  border: calc(var(--canvas-width-px) * 0.002) solid #000;
  margin-bottom: calc(var(--canvas-height-px) * 0.02);
  overflow: hidden;
}

#powerMeterFill,
#rewardZone,
#punishmentZone {
  width: 100%;
}

#powerMeterFill {
  position: absolute;
  bottom: 0;
  background-color: red;
  height: 0%;
  z-index: 1;
}

#rewardZone {
  position: absolute;
  bottom: 85%;
  height: 10%;
  background-color: rgba(0, 255, 0, 0.5);
  z-index: 2;
}

#punishmentZone {
  position: absolute;
  bottom: 95%;
  height: 5%;
  background-color: rgba(255, 0, 0, 0.5);
  z-index: 2;
}

/* Buttons within Game and Power Container */
#gameAndPowerContainer .button-container {
  display: flex;
  flex-direction: column;
}

#gameAndPowerContainer .button {
  font-family: "DeskScratch";
  font-size: calc(var(--canvas-width-px) * 0.05);
  -webkit-text-stroke: calc(var(--canvas-width-px) * 0.00025) rgba(200, 200, 200, 0.9);
  padding: calc(var(--canvas-width-px) * 0.005);
  background-color: rgba(15, 15, 15, 0);
  border: none;
  margin: calc(var(--canvas-width-px) * 0.005);
  border-radius: calc(var(--canvas-width-px) * 0.005);
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
  border-top-left-radius: calc(var(--canvas-width-px) * 0.255) calc(var(--canvas-width-px) * 0.015);
  border-top-right-radius: calc(var(--canvas-width-px) * 0.015) calc(var(--canvas-width-px) * 0.225);
  border-bottom-right-radius: calc(var(--canvas-width-px) * 0.225) calc(var(--canvas-width-px) * 0.015);
  border-bottom-left-radius: calc(var(--canvas-width-px) * 0.015) calc(var(--canvas-width-px) * 0.255);
  color: #1a0e05;
  text-shadow: -2px -2px 0 rgba(26, 14, 5, 0.3), 2px 2px 0 rgba(220, 200, 180, 0.5);
}

#gameAndPowerContainer .button:hover {
  background-color: rgba(15, 15, 15, 0.2);
}

#gameAndPowerContainer .button:active {
  transform: scale(0.98);
  box-shadow: inset 0 0 calc(var(--canvas-width-px) * 0.005) rgba(0, 0, 0, 0.5);
  background-color: rgba(15, 15, 15, 0.3);
}

#gameAndPowerContainer button.lined.thick {
  border: solid calc(var(--canvas-width-px) * 0.003) #41403e;
}

#gameAndPowerContainer button.dotted.thick {
  border: dotted calc(var(--canvas-width-px) * 0.003) #41403e;
}

#gameAndPowerContainer button.dashed.thick {
  border: dashed calc(var(--canvas-width-px) * 0.003) #41403e;
}

#gameAndPowerContainer button.lined.thin {
  border: solid calc(var(--canvas-width-px) * 0.002) #41403e;
}

#gameAndPowerContainer button.dotted.thin {
  border: dotted calc(var(--canvas-width-px) * 0.002) #41403e;
}

#gameAndPowerContainer button.dashed.thin {
  border: dashed calc(var(--canvas-width-px) * 0.002) #41403e;
}

/* Rules Button within Game and Power Container */
#gameAndPowerContainer .rulzButtonContainer {
  margin-top: calc(var(--canvas-height-px) * 0.01);
}

#gameAndPowerContainer .rulzButton {
  font-family: "DeskScratch";
  font-size: calc(var(--canvas-width-px) * 0.015);
  padding: calc(var(--canvas-width-px) * 0.005) calc(var(--canvas-width-px) * 0.01);
  background-color: rgba(15, 15, 15, 0);
  -webkit-text-stroke: calc(var(--canvas-width-px) * 0.0005) rgba(200, 200, 200, 0.9);
  border: none;
  border-radius: calc(var(--canvas-width-px) * 0.005);
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
  color: #1a0e05;
  text-shadow: -2px -2px 0 rgba(26, 14, 5, 0.3), 2px 2px 0 rgba(220, 200, 180, 0.5);
}

#gameAndPowerContainer .rulzButton:hover {
  background-color: rgba(15, 15, 15, 0.3);
}

/* Timer */
#turnTimerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Timer {
  font-family: "DeskScratch", Arial, sans-serif;
  font-size: calc(var(--canvas-width-px) * 0.09);
  color: #1a0e05;
  -webkit-text-stroke: calc(var(--canvas-width-px) * 0.00025) rgba(200, 200, 200, 0.9);
  text-align: center;
  margin-top: 0px;
  text-shadow: -2px -2px 0 rgba(26, 14, 5, 0.3), 2px 2px 0 rgba(220, 200, 180, 0.5);
}

#Timer.enemy-turn {
  font-size: 3vh;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-image: url("assets/paper.jpg");
  font-family: "ReenieBeanie", cursive;
  background-size: cover;
  background-position: center;
  margin: 5% auto;
  padding: 20px;
  border: 2px solid #888;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  position: relative;
  animation: fadeIn 0.3s;
}

.modal-content h2 {
  font-size: 2.5rem;
}

.modal-content h3 {
  font-size: 2rem;
}

.modal-content p,
.modal-content li {
  font-size: 1.5rem;
  line-height: 1.6;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Ensure text in modal content is entirely black */
.modal-content h2,
.modal-content h3,
.modal-content p,
.modal-content li {
  -webkit-text-stroke: 0;
  color: black;
}

/* @media query for small screens */
@media (max-width: 768px) {
  #gameAndPowerContainer h1 {
    font-size: calc(var(--canvas-width-px) * 0.015);
  }

  #gameAndPowerContainer .button {
    font-size: calc(var(--canvas-width-px) * 0.01);
  }

  #gameAndPowerContainer #Timer {
    font-size: calc(var(--canvas-width-px) * 0.02);
  }

  #gameAndPowerContainer #gameContainer {
    margin: calc(var(--canvas-width-px) * 0.005);
  }

  .modal-content {
    width: 95%;
    padding: 10px;
  }
}

/* Tablet-specific styles */
body.tablet #gameAndPowerContainer {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  overflow: hidden;
  height: 100vh;
}

body.tablet #gameContainer {
  width: calc(var(--canvas-width-px));
  height: calc(var(--canvas-height-px));
  margin: 0;
}

body.tablet #sideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--canvas-width-px) * 0.2);
  height: calc(var(--canvas-height-px));
  margin: 0;
}

body.tablet #drawCanvas {
  width: 100% !important;
  height: auto !important;
}

body.tablet #powerMeterContainer {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: calc(var(--canvas-width-px) * 0.075);
  height: calc(var(--canvas-height-px) * 0.75);
  border: calc(var(--canvas-width-px) * 0.002) solid #000;
  margin-bottom: calc(var(--canvas-height-px) * 0.02);
  overflow: hidden;
}

body.tablet #gameAndPowerContainer .button {
  font-size: calc(var(--canvas-width-px) * 0.05);
  padding: calc(var(--canvas-width-px) * 0.005);
  margin: calc(var(--canvas-width-px) * 0.005);
  border-radius: calc(var(--canvas-width-px) * 0.005);
  -webkit-text-stroke: calc(var(--canvas-width-px) * 0.00025) rgba(200, 200, 200, 0.9);
  border-top-left-radius: calc(var(--canvas-width-px) * 0.255) calc(var(--canvas-width-px) * 0.015);
  border-top-right-radius: calc(var(--canvas-width-px) * 0.015) calc(var(--canvas-width-px) * 0.225);
  border-bottom-right-radius: calc(var(--canvas-width-px) * 0.225) calc(var(--canvas-width-px) * 0.015);
  border-bottom-left-radius: calc(var(--canvas-width-px) * 0.015) calc(var(--canvas-width-px) * 0.255);
}

body.tablet #Timer {
  font-size: calc(var(--canvas-width-px) * 0.09);
}

body.tablet #Timer.enemy-turn {
  font-size: 3vh;
}

body.tablet #gameAndPowerContainer .rulzButton {
  font-size: calc(var(--canvas-width-px) * 0.015);
  padding: calc(var(--canvas-width-px) * 0.005) calc(var(--canvas-width-px) * 0.01);
  -webkit-text-stroke: calc(var(--canvas-width-px) * 0.0005) rgba(200, 200, 200, 0.9);
  border-radius: calc(var(--canvas-width-px) * 0.005);
}
